<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="Modals.closeFeesContainer()">x</button>
    <h4 class="modal-title">
        <span data-ng-if="modalType ==='add'">Add New Fee / Grade</span>
        <span data-ng-if="modalType ==='update'">Update Fee / Grade</span>
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="p-20">
                <form name="addEditCourseForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Fee_code">Fee Label<span class="text-danger">*</span></label>
                                <input type="text" name="Fee_Label" parsley-trigger="change" required placeholder="Enter Fee Label" class="form-control" data-ng-model="$parent.modFeesObj.FeeLabel">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Fee_name">Amount<span class="text-danger">*</span></label>
                                <input type="text" name="Amount" parsley-trigger="change" required placeholder="Enter Amount" class="form-control" data-ng-model="$parent.modFeesObj.Amount">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Fee_name">Fee Type<span class="text-danger">*</span></label>
                                <input type="text" name="Fee_Type" parsley-trigger="change" required placeholder="Enter Fee Type" class="form-control" data-ng-model="$parent.modFeesObj.FeeType">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Fee_name">Description<span class="text-danger">*</span></label>
                                <input type="text" name="Description" parsley-trigger="change" required placeholder="Enter Description" class="form-control" data-ng-model="$parent.modFeesObj.Description">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                    <div class="form-group m-b-0 text-right">
                        <button class="btn btn-teal btn-bordered waves-light waves-effect w-sm m-b-5" data-ng-click="updateFeesDetails(addEditFeeForm)" data-ng-if="modalType ==='update'">
                            Save Details
                        </button>
                        <button class="btn btn-teal btn-bordered waves-light waves-effect w-sm m-b-5" data-ng-click="addSubjectDetails(addEditFeeForm)" data-ng-if="modalType ==='add'">
                            Add Details
                        </button>
                        <button type="button" class="btn btn-default btn-bordered waves-effect w-md m-b-5" data-ng-click="Modals.closeFeesContainer()">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
