<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
    <div class="panel-body">

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label for="userName">Payment Particulars</label>
                    <h4>Admissions and Registration Fees</h4>

                </div>
            </div>
            <div class="col-md-4">

                <div class="form-group">
                    <label class="control-label">Amount</label>
                    <h2>$980</h2>
                </div>

            </div>

            <div class="col-md-4">

                <div class="form-group">
                    <label class="control-label">Total</label>
                    <h2>$1280</h2>
                </div>

            </div>

        </div>



    </div>
</div>