<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">


        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label for="userName">Select Course Interested<span class="text-danger">*</span></label>
                    <select id="heard" class="form-control">
                        <option value="">Choose..</option>
                        <option value="MBA">MBA</option>
                        <option value="MCA">MCA</option>
                        <option value="other">Other..</option>
                    </select>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="userName">Select Subjects<span class="text-danger">*</span></label>
                    <select id="heard" class="form-control">
                        <option value="">Choose..</option>
                        <option value="Subject1">Subject1</option>
                        <option value="Subject2">Subject2</option>
                        <option value="other">Other..</option>
                    </select>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="userName">Select Extra Curricular Activities<span class="text-danger">*</span></label>
                    <select id="heard" class="form-control">
                        <option value="">Choose..</option>
                        <option value="Cricket">Cricket</option>
                        <option value="Swimming">Swimming</option>
                        <option value="other">Other..</option>
                    </select>

                </div>
            </div>
        </div>



    </div>
</div>