<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">

        <form id="form1" action="#" data-parsley-validate="">

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="heard">Father's Name<span class="text-danger">*</span></label>
                        <input type="text" name="father_name" parsley-trigger="change" required placeholder="" class="form-control" id="father_name">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="heard">Father Occupation<span class="text-danger">*</span></label>
                        <input type="text" name="father_occupation" parsley-trigger="change" required placeholder="" class="form-control" id="father_occupation">

                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="heard">Mother Name<span class="text-danger">*</span></label>
                        <input type="text" name="mother_name" parsley-trigger="change" required placeholder="" class="form-control" id="mother_name">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="heard">Mother Occupation<span class="text-danger">*</span></label>
                        <input type="text" name="mother_occupation" parsley-trigger="change" required placeholder="" class="form-control" id="mother_occupation">

                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="course_code">Paren Address<span class="text-danger">*</span></label>
                        <textarea id="message" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 character comment.." data-parsley-validation-threshold="10"></textarea>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">

                        <label for="heard">Mobile Number<span class="text-danger">*</span></label>
                        <input type="text" name="mobile" parsley-trigger="change" required placeholder="" class="form-control" id="mobile">
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="course_code">Email Address<span class="text-danger">*</span></label>
                        <input type="text" name="budget_name" parsley-trigger="change" required placeholder="" class="form-control" id="budget">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="heard">Government ID<span class="text-danger">*</span></label>
                        <input type="text" name="government_id" parsley-trigger="change" required placeholder="" class="form-control" id="government_id">

                    </div>
                </div>

            </div>



        </form>

    </div>
</div>