
<div class="wrapper" style="padding-top: 0px;">
    <div class="container">

        <!-- Page-Title -->

        <div class="row">
            <div class="col-sm-12">

                <ul class="breadcrumb">
                    <li><a href="#">{{'breadcrumb1OfReviewandApprove'|translate}}</a></li>
                    <li><a href="#">{{'breadcrumb2OfReviewandApprove'|translate}}</a></li>
                    <li class="active">{{'breadcrumb3OfReviewandApprove'|translate}}</li>
                </ul>
            </div>
        </div>

        <!-- end page title end breadcrumb -->


        <div class="row">
            <!-- end col -->
            <div class="col-lg-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="m-t-0 header-title">
                                <b>{{'reviewandapproveHeader'|translate}}</b>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4">
                            <label for="userName">Batch<span class="text-danger">*</span></label>
                            <select id="heard" class="form-control" data-ng-model="selectedBatch" data-ng-options="fps.BatchName for fps in batchList" ng-change="fetchProgramStudyByBatchId(selectedBatch)">
                                <option value="" disabled="" selected="" class="ng-binding">Please select the Batch</option>
                            </select>
                        </div>

                        <div class="col-lg-4">
                            <label for="userName">Program<span class="text-danger">*</span></label>
                            <select id="heard" class="form-control" data-ng-model="selectedPS" data-ng-options="fps.ProgramStudyName for fps in programStudyData" ng-change="fetchCourseByProgramStudyId(selectedPS)">
                                <option value="" disabled="" selected="" class="ng-binding">Please select the value</option>
                                <option value="">{{'selectAProgram'| translate}}</option>
                            </select>
                        </div>

                        <div class="col-lg-4">
                            <label for="userName">Course<span class="text-danger">*</span></label>
                            <select id="heard" class="form-control" data-ng-model="selectedCourse" data-ng-options="fps.CourseName for fps in courseData">
                                <option value="" disabled="" selected="" class="ng-binding">Please select the value</option>
                                <option value="">{{'selectACourse'| translate}}</option>
                            </select>
                        </div>

                        <div class="col-lg-4 pull-left">
                            <button class="btn btn-teal btn-bordered waves-light waves-effect w-xl m-b-5" data-ng-click="fetchStudentDataByCriteria()">{{'goBtn'|translate}}</button>
                        </div>

                    </div>

                    <div class="row" data-ng-show="mainContentSubPart">
                        <div class="col-lg-12">

                            <div class="panel-group" role="tablist" aria-multiselectable="true">

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab">
                                        <h4 class="panel-title" data-ng-click="toggleFilterPanel()">
                                            <a ng-class="!filterPanel ? 'collapsed': ''" aria-expanded="false" aria-controls="collapseThree">
                                                {{'filters'| translate}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse" role="tabpanel" aria-labelledby="headingThree" data-ng-show="filterPanel">
                                        <div class="panel-body">
                                            <form action="#" data-parsley-validate="">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="userName">{{'studentIdColumn'| translate }}</label>
                                                            <textarea cols="25" rows="3" name="course_code_tobe_filtered" data-ng-model="course_code_tobe_filtered" class="form-control">
                                                            </textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="userName">{{'studentNameColumn'| translate }}</label>
                                                            <input type="text" name="course_name_tobe_filtered" data-ng-model="course_name_tobe_filtered" class="form-control" />
                                                        </div>
                                                        <div class="form-group text-right m-b-0">
                                                            <button class="btn btn-teal btn-bordered waves-light waves-effect w-xs  m-b-2" type="button" data-ng-click="getFilteredData()">
                                                                {{'goBtn'| translate }}
                                                            </button>
                                                            <button type="reset" data-ng-click="toggleFilterPanel()" class="btn btn-default waves-effect m-l-5">
                                                                {{'clearBtn'| translate }}
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>


                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- end col -->
                        <div class="col-lg-12" style="margin-top:-30px">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">

                                        <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed table-colored table-inverse">
                                            <thead>
                                                <tr>
                                                    <th ng-click="orderByField='AdmissionNumber'; reverseSort = !reverseSort">
                                                        {{'FormNoColumn'| translate }}
                                                        <span ng-show="orderByField == 'FormNo'">
                                                            <span ng-show="!reverseSort">^</span>
                                                            <span ng-show="reverseSort">v</span>
                                                        </span>
                                                    </th>
                                                    <th ng-click="orderByField='BatchNo'; reverseSort = !reverseSort">
                                                        {{'BatchNoColumn'| translate }}
                                                        <span ng-show="orderByField == 'BatchNo'">
                                                            <span ng-show="!reverseSort">^</span>
                                                            <span ng-show="reverseSort">v</span>
                                                        </span>
                                                    </th>
                                                    <th ng-click="orderByField='ProgramStudy'; reverseSort = !reverseSort">
                                                        {{'ProgramStudyColumn'| translate }}
                                                        <span ng-show="orderByField == 'ProgramStudy'">
                                                            <span ng-show="!reverseSort">^</span>
                                                            <span ng-show="reverseSort">v</span>
                                                        </span>
                                                    </th>
                                                    <th ng-click="orderByField='Course'; reverseSort = !reverseSort">
                                                        {{'CourseColumn'| translate }}
                                                        <span ng-show="orderByField == 'Course'">
                                                            <span ng-show="!reverseSort"> ^ </span>
                                                            <span ng-show="reverseSort"> v </span>
                                                        </span>
                                                    </th>
                                                    <th ng-click="orderByField='CreatedDate'; reverseSort = !reverseSort">
                                                        {{'CreatedDateColumn'| translate }}
                                                        <span ng-show="orderByField == 'CreatedDate'">
                                                            <span ng-show="!reverseSort">^</span>
                                                            <span ng-show="reverseSort">v</span>
                                                        </span>
                                                    </th>
                                                    <th ng-click="orderByField='Status'; reverseSort = !reverseSort">
                                                        {{'StatusColumn'| translate }}
                                                        <span ng-show="orderByField == 'Status'">
                                                            <span ng-show="!reverseSort">^</span>
                                                            <span ng-show="reverseSort">v</span>
                                                        </span>
                                                    </th>
                                                    <th>

                                                    </th>

                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                                <tr data-ng-repeat="msd in reviewandapprovedata|orderBy:orderByField:reverseSort">
                                                    <td>{{ msd.AdmissionNumber }}</td>
                                                    <td>{{ msd.Batch }}</td>
                                                    <td>{{ msd.ProgramStudy }}</td>
                                                    <td>{{ msd.Approve }}</td>
                                                    <td>{{ msd.ApplicationCreatedDate }}</td>
                                                    <td>{{ msd.Status }}</td>
                                                    <td ng-click="goToPage('/StudentAdmissionForm')" class="button-menu-mobile" ng-hide="msd.Status==='Saved'">EditApplicationForm</td>
                                                    <!--<td ng-click="addReviewandapproveContainer" class="button-menu-mobile"></td>-->
                                                    <td ng-click="goToPage('/StudentAdmissionForm')" class="button-menu-mobile" ng-hide="msd.Status==='Saved'">EditApplicationForm</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div> <!-- end card -->
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="dataTables_length" id="datatable_length">

                                        <label>
                                            {{'shows'| translate}}
                                            <select name="datatable_length"
                                                    aria-controls="datatable"
                                                    class="form-control input-sm"
                                                    data-ng-model="numPerPage"
                                                    data-ng-options="x for x in showPerPageDataOptions"></select>
                                            {{'entries'| translate}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
                                        {{'showing'| translate}} {{currentPage*numPerPage - numPerPage  + 1}} {{'to'| translate}} {{managestdcounsellingData.length > currentPage*numPerPage ? currentPage*numPerPage : managestdcounsellingData.length}} {{'of'| translate}} {{managestdcounsellingData.length}} {{'entries'| translate}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                                        <pagination ng-model="currentPage"
                                                    total-items="managestdcounsellingData.length"
                                                    max-size="maxSize"
                                                    boundary-links="true"
                                                    items-per-page="numPerPage">
                                        </pagination>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- end col -->



                    </div>
                    <!-- end row -->


                </div>
            </div>
        </div>



    </div>
</div>

