@using EduRp.Ui.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="row">*@
<div class="bg-transparent">
    @*<div class="col-md-8">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
    <div class="col-md-4">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                <section>

                    <div class="container-alt">


                        <div class="row">

                            <div class="col-md-8">
                                <div id="header">
                                    <nav class="navbar navbar-fixed-top lazar-bg" id="nav" role="navigation" style="margin-bottom: 0">

                                        <ul class="nav navbar-top-links navbar-center">


                                            <li class="dropdown pull-right">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                    <span class="pl15"> Langauge</span>
                                                    <span class="caret caret-tp"></span>
                                                </a>
                                                <ul class="dropdown-menu animated m-t-xs">
                                                    <li><a href="#" class="animated animated-short fadeInUp"><i class="fa fa-user "></i> English</a></li>
                                                    <li><a href="#" class="animated animated-short fadeInUp"><i class="fa fa-group"></i> Bahasa</a></li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>

                            </div>
                        </div>



                        <div class="row">

                            <div class="col-md-8">
                                <br>
                                <br>


                                <h2 class="font-bold">Welcome to EDuRP</h2>

                                <p>

                                    An ERP e-governance solution for all types of educational institutions. Our aim is to provide a solution that enables institutions to meet the varying demand of education sector.



                                    Below are some of the reasons why you have to pick EDuRP.

                                </p>

                                <p>&nbsp;</p>

                                <p class="homeimage">

                                    <img src="~/assets/images/iPad_screen.png" class="img-responsive" />
                                 
                                </p>

                                <p>&nbsp;</p>

                                <div class="row googleicons col-sm-offset-2">

                                    <div class="col-md-4">

                                        <img src="~/assets/images/appstore.png" style="max-width: 150px" class="img-responsive" />

                                    </div>

                                    <div class="col-md-4">

                                        <img src="~/assets/images/googleplay.png" style="max-width: 150px" class="img-responsive" />

                                    </div>



                                </div>



                            </div>

                            <div class="col-sm-4">

                                <br>

                                <div class="wrapper-page">



                                    <div class="m-t-40 account-pages">

                                        <div class="text-center account-logo-box">


                                            <h2 class="text-uppercase">

                                                <a href="index.html" class="text-success">

                                                    <span><img src="~/assets/images/logo.png" alt="" height="36"></span>

                                                </a>

                                            </h2>

                                            <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->

                                        </div>

                                        <div class="account-content">

                                            <form class="form-horizontal" action="#">



                                                <div class="form-group ">

                                                    <div class="col-xs-12">
                                                        <input class="form-control" type="text" name="UserName" required="" placeholder="Username">

                                                    </div>

                                                </div>



                                                <div class="form-group">

                                                    <div class="col-xs-12">

                                                        <input class="form-control" type="password" name="Password" required="" placeholder="Password">

                                                    </div>

                                                </div>

                                                <div class="form-group ">

                                                    <div class="col-xs-12">

                                                        <div class="checkbox checkbox-success">

                                                            <input id="checkbox-signup" type="checkbox" checked>

                                                            <label for="checkbox-signup">

                                                                Remember me

                                                            </label>

                                                        </div>
                                                            
                                                    </div>

                                                </div>



                                                <div class="form-group text-center m-t-30">

                                                    <div class="col-sm-12">

                                                        <a href="page-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>

                                                    </div>

                                                </div>



                                                <div class="form-group account-btn text-center m-t-10">

                                                    <div class="col-xs-12">

                                                        <button class="btn w-md btn-bordered btn-success waves-effect waves-light" type="submit">Log In</button>
                                                        @*<input type="submit" value="Log in" class="btn btn-default" />*@
                                                    </div>

                                                </div>



                                            </form>



                                            <div class="clearfix"></div>



                                        </div>

                                    </div>

                                    <!-- end card-box-->
                                </div>








                                <div class="row m-t-50">

                                    <div class="col-sm-12 text-center">

                                        <p class="text-muted">Don't have an account?
                                        @*<a href="~/App/Templates/Account/page-signup.html" class="text-primary m-l-5">
                                            <b>Sign Up</b></a>*@
                                       @*@{ Response.Redirect("~/HOME/NoResults");}*@

                                            @*@Html.ActionLink("", "actionName", "controllerName")*@
                                            @Html.ActionLink("Sign Up","Register")


                                       </p>

                                    </div>

                                </div>



                            </div>

                            <!-- end wrapper -->



                        </div>

                    </div>



                </section>

          <!-- END HOME -->

               if (TempData["Message"] != null)
               {
                <script type="text/javascript">
            window.onload = function () {
                alert('@TempData["Message"]');
            };
                </script>
               }


                    <script>

                        var resizefunc = [];

                    </script>



        <!-- jQuery  -->

                    <script src="assets/js/jquery.min.js"></script>

                    <script src="assets/js/bootstrap.min.js"></script>

                    <script src="assets/js/detect.js"></script>

                    <script src="assets/js/fastclick.js"></script>

                    <script src="assets/js/jquery.blockUI.js"></script>

                    <script src="assets/js/waves.js"></script>

                    <script src="assets/js/jquery.slimscroll.js"></script>

                    <script src="assets/js/jquery.scrollTo.min.js"></script>



        <!-- App js -->

                    <script src="assets/js/jquery.core.js"></script>

                    <script src="assets/js/jquery.app.js"></script>
            }
        </section>
    </div>
</div>
@*</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}