<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="Modals.closeSubjectContainer()">x</button>
    <h4 class="modal-title">
        <span data-ng-if="modalType ==='add'">{{'subjectAddHeader'|translate}}</span>
        <span data-ng-if="modalType ==='update'">{{'subjectUpdateHeader'|translate}}</span>
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div ng-dropdown-multiselect="" options="example14data" selected-model="example14model" checkboxes="true" extra-settings="example14settings"></div> 
                <pre>Selected Model: {{example14model}} | json</pre>
            </div>
        </div>
    </div>
</div>


