<div class="wrapper">
    <div class="container">
        <div class="row" style="margin-bottom:150px">

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="userName">Select Batch</label>
                    <select id="heard" class="form-control">
                        <option value="Type1">Type1</option>
                        <option value="Type2">Type2</option>
                        <option value="Type3">Type3</option>
                        <option value="other">Other..</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="userName">Select Course</label>
                    <select id="heard" class="form-control">
                        <option value="">Choose..</option>
                        <option value="Mode1">Mode1</option>
                        <option value="Mode2">Mode2</option>
                        <option value="other">Other..</option>
                    </select>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="userName">Exam Type</label>
                    <select id="heard" class="form-control">
                        <option value="Type1">Type1</option>
                        <option value="Type2">Type2</option>
                        <option value="Type3">Type3</option>
                        <option value="other">Other..</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="userName">Exam Subject</label>
                    <select id="heard" class="form-control">
                        <option value="">Choose..</option>
                        <option value="Mode1">Mode1</option>
                        <option value="Mode2">Mode2</option>
                        <option value="other">Other..</option>
                    </select>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="userName">Total No. of Students </label>
                    <span style="font-size:28px;">120</span>
                </div>
            </div>
        </div>
        <div ui-calendar="uiConfig.calendar" data-ng-model="eventSources" ng-click="scheduleExamContainer()">


        </div>
    </div>
</div>
