<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-left">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li>
                        <a href="#">EduRP</a>
                    </li>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="active">
                        Masters

                    </li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->


<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Settings</b></h4>
            <p class="text-muted font-13 m-b-30">
                Masters data, This section will have all the system related master data.
            </p>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">

                        <table id="datatable" class="table table-striped">

                            <tbody>
                                <tr>
                                    <td><a href="academic_batch.html">Academic Batch</a></td>

                                </tr>
                                <tr>
                                    <td><a href="program_study.html">Program Study (Degree / Curriculum)</a></td>

                                </tr>
                                <tr>
                                    <td><a href="course_grade.html">Course / Grade</a></td>

                                </tr>
                                <tr>
                                    <td><a href="subjects.html">Subjects</a></td>

                                </tr>
                                <tr>
                                    <td><a href="#">Chapters</a></td>

                                </tr>
                                <tr>
                                    <td><a href="#">Fees</a></td>

                                </tr>
                                <tr>
                                    <td><a href="#">Class Room</a></td>

                                </tr>
                                <tr>
                                    <td><a href="#">Selection Criteria</a></td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div> <!-- end card -->
    </div>
    <!-- end col -->


</div>
<!-- end row -->
<!-- Footer -->
<footer class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                EduRP - Education ERP Management System © 2017. All rights reserved.

            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->







